<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <div class="loader" ng-show="loading">
        <span>{</span><span>}</span>
      </div>
    </div>
  </div>
  <div class="row" ng-show="!loading">
    <div class="col-sm-12 col-md-7">
      <a href="{{ fire.website }}" target="new"><img ng-src="{{ fire.image }}" class="img-fluid" /></a>
    </div>
    <div class="col-sm-12 col-md-5" style="margin-top:10px;">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{ fire.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Category: <a ui-sref="category({ categoryId: fire.category })">{{ fire.category }}</a> <br/> by {{ fire.createdBy }} <br/> {{ fire.createdAt | date: 'medium' }}</h6>
          <p class="card-text">{{ fire.desc }}</p>
          <hr class="my-4">
          <a href="{{ fire.website }}" class="btn btn-primary">Website</a>
          <a ng-if="firebaseUserUid == fire.uid" class="btn btn-secondary" ui-sref="edit({ fireId:fire.$id })">edit</a>
          <a ng-if="firebaseUserUid == fire.uid" class="btn btn-danger" ng-click="deleteFire()">delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
