<div class="container">
  <div class="row justify-content-lg-center" style="margin-top:20px;">
    <div class="col-12 col-lg-auto">
      <center>
        <div class="loader" ng-show="sending">
          <span>{</span><span>}</span>
        </div>
      </center>
      <form ng-submit="addNew()" name="addForm" class="margin-top">
        <div class="form-group">
          <fieldset class="fieldset">
            <legend>Enlist your Firebase-backed site</legend>
            <div class="form-group">
              <label class="form-control-label" for="name">Name of site</label>
              <input type="text" id="name" name="name" class="form-control" ng-model="formData.name" required autofocus placeholder="eg. Name of site">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="description">Add Description</label>
              <textarea class="form-control" name="description" id="description" ng-model="formData.desc" placeholder="What is the website about? Which part of Firebase does the website use?" rows="4" required></textarea>
            </div>
            <div class="form-group">
              <label for="site_url" class="form-control-label">Site URL</label>
              <input class="form-control" id="site_url" name="site_url" type="url" ng-model="formData.website" required placeholder="eg. http://blog.khophi.co">
            </div>
            <div class="form-group">
              <label for="image" class="form-control-label">Image e.g http://i.imgur.com/Nozq7GV.png</label>
              <input class="form-control" name="image" id="image" type="url" ng-model="formData.image" crossOrigin="Anonymous" aria-describedby="image" required placeholder="eg. http://blog.khophi.co/image.jpg" aria-describedby="fileHelp">
              <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
            <div class="form-group">
              <label for="category" class="form-control-label">Category</label>
              <select class="form-control" ng-model="formData.category" required id="category" id="category">
                <option ng-repeat="(lang, name) in categories" value="{{ lang }}"> {{ name }} </option>
              </select>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-lg" ng-disabled="addForm.$invalid" style="margin-top:13px;" />
            </div>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>
