<div class="small-12 medium-10 medium-centered columns">
    <div class="">
        <h2>About</h2>
        <h4>What is this?</h4>
        <p>
            Made With Firebase is a gallery of inspiring websites built using Google Firebase. It's maintained by <a href="http://github.com/seanmavley" target="new">Rexford Nyarko (seanmavley)</a> to demonstrate what's possible with Firebase and to showcase how it's being used in the world.
        </p>
        <h4>How are websites selected?</h4>
        <p>
            Websites that are high profile and high quality examples of building with Firebase are listed here.
        </p>
        <h4>Can I submit a site?</h4>
        <p>
            Made With Firebase focuses on high profile sites that people can look to when deciding whether to use Firebase or when building their next Firebase-backed app. If you've seen a high-quality production app made with Firebase, suggest it by:
        </p>
        <ul>
            <li>Using the <a ui-sref="new">submit form</a></li>
            <li>Sharing a post with <a href="https://plus.google.com/b/100878361866033760346/100878361866033760346" target="new">+MadeWithFirebase</a> on Google+</li>
            <li><a href="https://github.com/seanmavley/madewithfirebase.firebaseapp.com/issues" target="new">Opening an issue</a></li>
        </ul>
        <h4>What information are stored about me?</h4>
        <p>
            MadeWithFirebase.com doesn't store anything about the user in the database except the <strong>displayName</strong> provided by the third-party OAuth Provider and is simply used to associate who sent what.
        </p>
    </div>
</div>
