<footer class="footer" style="margin-top:3rem;">
  <div class="container">
    <ul class="nav justify-content-center text-muted">
      <li class="nav-item">
        <a class="nav-link active" href="https://plus.google.com/b/100878361866033760346/100878361866033760346">+MadewithFirebase</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="admin">My Suggestions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="new">Suggest Site</a>
      </li>
    </ul>
  </div>
</footer>
