<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-auto">
      <h1 class="entry-title">Privacy Policy</h1>
      <p>
        This may be the shortest Privacy Policy you'll ever read. I won't share information about you, your account or your email addresses with anyone.
      </p>
      <p>
        To be honest, I don't even have or see those details. The only detail, as a developer, I have access to is your <strong>Name</strong> (which might even not be your real name as it is taken from your social account).
      </p>
      <p>
        You don't trust me? Check the source code: github.com/seanmavley/madewithfirebase.firebaseapp.com
      </p>
    </div>
  </div>
</div>
